body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#head2 {
    display: inline;
    text-align: center;
    padding: 200px;
    font-family: 'Ranchers', cursive;
    font-size: 4.5em;
    font-weight: lighter;
    text-shadow: 4px 4px #1ba098;
    color: #00458b;
    width: auto;
    margin: 0 auto;
}

h2#head2 {
    text-align: center;
}

p {
    color: #00458b;
    font-size: 30px;
    font-family: 'Gayathri', sans-serif;
    border: none;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 100%;
    background-image: inherit;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    transition: all 0.3s;
    background-color: #1ba098;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform-origin: center left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #1ba098;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #1ba098;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.sidebar-header h2 {
    font-family: 'Ranchers', cursive;
    font-weight: lighter;
    font-size: 40px;
    text-shadow: 3px 0px 1px black;
    padding-bottom: 30px;
    border-bottom: 1px solid #3cbcc3;
}

li {
    font-family: 'Gayathri', sans-serif;
    font-size: 21px;
    letter-spacing: 2px;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3cbcc3;
}

#sidebar.active {
    margin-left: -250px;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

h2#content {
    color: #fff;
    text-shadow: 2px 0px 1px black;
    text-align: center;
}

#content {
    margin: 0 auto;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #3cbcc3;
    background: #fff;
    font-weight: bolder;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3cbcc3;
    font-weight: bolder;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3cbcc3;
}

#road {
    border-bottom: 10px solid #00458b;
    width: 98.87vw;
}

#runner {
    background: url("hobbit-style-sprite-sheet-walk-left.png");
    width: 198.75px;
    height: 254px;
    animation: walk 0.5s steps(3) infinite, forward 8s linear infinite;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 3000px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(1200px);
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #head2 {
        padding: 20px;
        font-size: 3.6em;
        text-shadow: 2.5px 2.5px #1ba098;
        text-align: center;
        width: 60vw;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    #head2 {
        text-align: center;
        padding: 22px;
        font-size: 4em;
        font-weight: lighter;
        text-shadow: 3px 3px #1ba098;
        width: 65vw;
        margin: 0 auto;
    }
}

@media (max-width: 576px) and (min-width: 360px) {
    #head2 {
        display: block;
        text-align: center;
        padding: 16px;
        font-family: 'Ranchers', cursive;
        font-size: 3.2em;
        font-weight: lighter;
        text-shadow: 2px 2px #1ba098;
        color: #00458b;
        width: 60vw;
        margin: 0 auto;
    }
}